// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

h1 {
  margin:33px;
  display:block;
  line-height: 18px;
  color:red;

}

p {
  margin:33px;

}


